<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="static/css/style.css" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <form th:action="@{/notebook/edit}" method="post">
        <div class="form-group col-xs-3">
            <label for="message"> New Message : </label>
            <input type="text" name = "message" id="message" class="form-control"/>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-success">Save Changes</button>
        </div>
    </form>

</body>
</html>