<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="notebook_list">


    <!-- Таблица -->
    <div>
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr style="text-align: center">
            <th >#</th>
            <th >Сообщение</th>
            <th >Дата</th>
            <th>Выполненно</th>
            <th>Удалить</th>
            <th>Изменить</th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align: center" th:each="note : ${notes}" >
            <td th:text="${note.id}" >#</td>
            <td th:text="${note.message}" style="text-align: left">Сообщение</td>
            <td th:text="${#dates.format(note.date, 'EEE, d MMM yyyy HH:mm')}">Дата</td>
            <td style="...">

                <i th:if="${note.done} == false" class="fa fa-times" style="..."></i>
                <i th:if="${note.done} == true" class="fa fa-check" style="..."></i>

            </td>
            <td>
                <a th:href="@{/notebook/delete(id = ${note.id})}" class="btn btn-outline-primary" role="button" >Удалить</a>
            </td>
            <td>
                <a th:href="@{/notebook/edit(id = ${note.id})}" class="btn btn-outline-primary" role="button" >Изменить</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>


    <!-- Пагинация -->
    <div class="container">

        <div class="row">

            <div>
                <a  th:href="@{/notebook/add}" class="btn btn-outline-primary" role="button">Добавить заметку</a>
            </div>

            <div class="dropdown" style="margin-left: 1em">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">Фильтровать</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/notebook/sort(filter_method='All')}">Все дела</a>
                    <a class="dropdown-item" th:href="@{/notebook/sort(filter_method='Not_Done')}">Только невыполненные</a>
                    <a class="dropdown-item" th:href="@{/notebook/sort(filter_method='Done')}">Выполненные</a>
                </div>
            </div>


            <div class="dropdown" style="margin-left: 1em">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">Сортировать</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/notebook/sort(sort_method='Date_ASC')}">От старого к новому</a>
                    <a class="dropdown-item" th:href="@{/notebook/sort(sort_method='Date_DESC')}">От нового к старому</a>
                </div>
            </div>


        </div>

        <div style="margin-top: 2em; margin-left: -1em">
            <p><i>Количеcтво записей на странице</i></p>
            <a th:href="@{/notebook(pagesize = 10,currentpage = ${currentPage})}">10</a>
            <a th:href="@{/notebook(pagesize = 30,currentpage = ${currentPage})}">30</a>
            <a th:href="@{/notebook(pagesize = 50,currentpage = ${currentPage})}">50</a>
        </div>

        <div style="margin-left: 50%">

            <div th:if="${currentPage}!=null">
                <ul class="pagination">
                    <li th:if="${currentPage}!=0" class="page-item">
                        <a  class="page-link" th:href="@{/notebook(currentpage=(${currentPage}-1))}">Предыдущая</a>
                    </li>
                    <li th:if="${currentPage}<=0" class="page-item disabled">
                        <a  class="page-link" th:href="@{/notebook(currentpage=(${currentPage}-1))}">Предыдущая</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" th:text="${currentPage}"></a>
                    </li>
                    <li th:if= "${isActive}" class="page-item">
                        <a class="page-link" th:href="@{/notebook(currentpage=(${currentPage}+1))}">Следущая</a>
                    </li>
                    <li th:unless= "${isActive}" class="page-item disabled">
                        <a class="page-link" th:href="@{/notebook(currentpage=(${currentPage}+1))}">Следущая</a>
                    </li>
                </ul>

            </div>







        </div>


    </div>
</div>




</html>