<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="notebook_list">
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr style="text-align: center">
            <th >#</th>
            <th >Message</th>
            <th >Date</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align: center" th:each="note : ${notes}">
            <td th:text="${note.id}" >#</td>
            <td th:text="${note.message}" style="text-align: left">Message</td>
            <td th:text="${#dates.format(note.date, 'EEE, d MMM yyyy HH:mm')}">Date</td>
            <td>
                <a th:href="@{/notebook/delete(id = ${note.id})}" > Delete </a>
            </td>
            <td>
                <a th:href="@{/notebook/edit(id = ${note.id})}" >Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>